<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<title>exito</title>
</head>
<body class="teal lighten-3">
	<div class="container center">
	<br>
	<br>
	<br>
	<h1>Exito! lograste ingresar tu producto!</h1>
	</div>

	
</body>
</html>